<!DOCTYPE html>
<html>
  <head>
    <title>Cloud DevOps Engineer</title>
  </head>
  <body>
    <h1>Cloud DevOps Engineer - Capstone Project</h1>
    <p>
      The purpose of the cloud devops capstone project is to give you a chance
      to combine what you've learned throughout the program. This project will
      be an important part of your portfolio that will help you achieve your
      cloud development-related career goals. In the capstone project, each
      project is unique to the student. You’ll build a CI/CD pipeline for a
      microservices application for different deployment strategies. Students
      define the scope of the project and select the right deployment strategy
      based on different business requirements.
    </p>
  </body>
</html>
